<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jask</name>
    <description>
        Sua conexão com a comunidade acadêmica.
    </description>
    <author email="contato@fabiodiniz.com.br" href="http://fabiodiniz.com.br">
        Fábio Diniz e Ramon Sposito
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/icon/android/mdpi/logo.png" />
        <icon density="hdpi" src="res/icon/android/hdpi/logo.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi/logo.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi/logo.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi/logo.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
